<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"/>
	
	<body>

		<div th:replace="common::loading"/>

		<button class="open-menu-mobile">
			<i class="icon ion-navicon-round opening-menu"></i>
			<i class="icon ion-close-round closing-menu display-none"></i>
		</button>

		<div th:replace="common::menu"></div>

		<section id="content-part">
		<section id="home-part" class="scale-max">
			<div class="overlay">
				<div class="content-place">
					<button class="button" onclick="javascript:PopUpShowAddUser()">Добавить пользователя</button>
					<a th:if="${rejectedUsr}" >пользователь не сохранен</a>
					<div th:replace="common-popup::addUser"/>
					<br/>

					<button class="button" onclick="javascript:PopUpShowAddHall()">Добавить новый зал</button>
					<div th:replace="common-popup::addHall"/>
					<br/>

					<button class="button" onclick="javascript:PopUpShowAddDisc()">Добавить акцию</button>
					<div th:replace="common-popup::addDiscount"/>
					<br/>

				</div> <!-- CLOSE content-place -->
			</div>
		</section> <!-- CLOSE #home-part -->
		</section> <!-- CLOSE #content-part -->

		<!-- Language selection -->
		<!--<p class="lang">-->
			<!--<a href="" class="active">EN</a><span> | </span>-->
			<!--<a href="">DE</a>-->
		<!--</p>-->

	</body>

</html>