<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

                    <!--оформление заказа-->

<div th:fragment="addOrder" class="b-popup" id="popupaddorder">
    <div class="b-popup-content">
        <form id="addOrder" th:action="@{/recordVisitors/addOrder}" method="POST">
            <fieldset>
                <a>Информация о посетителе:</a><br/>
                <input type="text" th:field="${order.contact.firstName}" placeholder="имя"required /> <br/>
                <input type="text" th:field="${order.contact.lastName}" placeholder="фамилия" /> <br />
                <a>телефон:</a><br/>
                <input type="text"
                       th:field="${order.contact.phoneNumber}"
                       placeholder="8800-555-35-35" required /> <br />

                <a>продолжительность:</a><br/>
                <input type="number" th:field="${order.minuteAmount}" placeholder="в минутах" required /> <br/>

                <a>сколько батутов:</a><br/>
                <input type="number" th:field="${order.trampsAmount}" placeholder="кол-во батутов" required /> <br/>

                <a>дата:</a><br/>
                <input type="date" th:field="${order.eventDate}" placeholder="дата" required /> <br/>

                <a>зал:</a><br/>
                <select th:field="${order.hall}">
                    <option th:each="hall : ${halls}" th:value="${hall.publicId}"  th:text="${hall.name}">
                </select>

                <a>акция:</a><br/>
                <select th:field="${order.discount}">
                    <option th:each="discount : ${discounts}" th:value="${discount.publicId}" th:text="${discount.name}">
                </select><br/>

                <a>комментарий:</a><br/>
                <input type="text" th:field="${order.comment}"> </input><br/>

                <button class="button" type="submit" value="Submit">Сохранить</button>
            </fieldset>
        </form>
        <button class="button" type="cancel" onclick="javascript:PopUpHideAddOrder()">Отмена</button>
    </div>
</div>

                    <!--создание зала-->

<div th:fragment="addHall" class="b-popup" id="popupaddhall">
    <div class="b-popup-content">
        <h2>Добавить новый зал</h2>
        <form id="addHall" th:action="@{/admin/addHall}" method="POST">
            <fieldset>
                <a>Информация о зале:</a><br/>
                <input type="text" th:field="${hall.name}" placeholder="название" required /> <br/>
                <input type="text" th:field="${hall.address}" placeholder="адрес" required /> <br />
                <input type="number" th:field="${hall.price}" placeholder="цена" required /> <br />
                <input type="number" name="trampsAmount" placeholder="количество батутов" required /> <br />
                <a>телефон:</a><br/>
                <input type="text"
                       th:field="${hall.phone}"
                       placeholder="8800-555-35-35" required />
                <br />

                <button class="button" type="submit" value="Submit">Сохранить</button><br/>
            </fieldset>
        </form>
        <button class="button" onclick="javascript:PopUpHideAddHall()">cancel</button>
    </div>
</div>

                    <!--создание скидки-->

<div th:fragment="addDiscount" class="b-popup" id="popup1">
    <div class="b-popup-content">
        <h2>Добавить акцию</h2>
        <form id="generalOrderInfo" th:action="@{/admin/addDiscount}" method="POST">
            <fieldset>
                <a>Скидка:</a><br/>
                <input type="text" th:field="${discount.name}" placeholder="название" required /> <br/>
                <input type="text" th:field="${discount.description}" placeholder="описание" required /> <br/>
                <input type="number" th:field="${discount.discountFactor}" placeholder="процент скидки" required /> <br />

                <button class="button" type="submit" value="Submit">Сохранить</button>
            </fieldset>
        </form>
        <button class="button" onclick="javascript:PopUpHide()">Отмена</button>
    </div>
</div>

</html>