<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="templateEmp">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    <title>JH3</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-retina-ipad.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-retina-iphone.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-standard-ipad.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-standard-iphone.png">

    <!-- ============== Resources style ============== -->
    <link rel="stylesheet" href="css/style-1.css" />

    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="js/modernizr.js"></script>
</head>

<body>

<div th:fragment="menuEmp" id="navigation" class="mobile-nav animated-middle">
    <ul class="main-navigation">
        <li><a class="nav-link-close" href="/">Основная</a></li>
        <li><a class="nav-link about-content" href="/trampolineHalls">Залы</a></li>
        <li><a class="nav-link services-content" href="/discounts" >Акции</a></li>
        <li><a class="nav-link contact-content" href="/contacts">Контакты</a></li>
        <li><a class="nav-link contact-content" href="/recordVisitors">Запись посетителей</a></li>
        <li><a class="nav-link contact-content" href="/recordsManagement">Управление записями</a></li>
        <!--<li class="newsletter-color" href="/fly/"><a class="open-newsletter">Newsletter</a></li>-->
    </ul> <!-- CLOSE Main nav -->
    <ul class="bottom-nav">
        <li class="twitter-color">
            <a href="#" title="">
                <i class="icon ion-social-twitter-outline"></i>
                щебет
            </a>
        </li>
        <li class="facebook-color">
            <a href="#" title="">
                <i class="icon ion-social-facebook-outline"></i>
                лицокнига
            </a>
        </li>
    </ul> <!-- CLOSE .bottom-nav -->
</div> <!-- CLOSE #navigation -->