<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

                    <!--оформление заказа-->

<div th:fragment="addOrder" class="b-popup" id="popupaddorder">
    <div class="b-popup-content">
        <form id="addOrder" th:action="@{/recordsManagement}" method="POST">
            <fieldset>
                <a>Информация о посетителе:</a><br/>
                <input type="text" th:field="${order.contact.firstName}" placeholder="имя"required /> <br/>
                <input type="text" th:field="${order.contact.lastName}" placeholder="фамилия" /> <br />
                <a>возраст:</a><br/>
                <input type="number" th:field="${order.contact.age}" placeholder="возраст" />
                <a th:if="${#fields.hasErrors('order.contact.age')}" th:errors="${order.contact.age}"></a><br/>
                <a>телефон:</a><br/>
                <input type="text"
                       th:field="${order.contact.phoneNumber}"
                       placeholder="8800-555-35-35" required /> <br />

                <a>продолжительность:</a><br/>
                <input type="number" th:field="${order.minuteAmount}" placeholder="в минутах" required /> <br/>

                <a>сколько батутов:</a><br/>
                <input type="number" th:field="${order.trampsAmount}" placeholder="кол-во батутов" required /> <br/>

                <a>дата:</a><br/>
                <input type="date" th:field="${order.eventDate}" placeholder="дата" required /> <br/>
                <a th:if="${#fields.hasErrors('order.eventDate')}" th:errors="${order.eventDate}"></a><br/>

                <a>начало в:</a><br/>
                <input type="number" th:field="${order.startHour}" placeholder="час" required />
                <a th:if="${#fields.hasErrors('order.startHour')}" th:errors="${order.startHour}"></a><br/>

                <a>зал:</a>
                <select th:field="${order.hall}">
                    <!--<option selected value="null">не выбран</option>-->
                    <option th:each="hall : ${halls}" th:value="${hall.Id}"  th:text="${hall.name}">
                </select><br/>

                <a>акция:</a>
                <select th:field="${order.discount}">
                    <!--<option selected value="null">не выбран</option>-->
                    <option th:each="discount : ${discounts}" th:value="${discount.Id}" th:text="${discount.name}">
                </select><br/>

                <a>комментарий:</a><br/>
                <input type="text" rows="3" th:field="${order.comment}"> </input><br/>

                <button class="button" type="submit" value="Submit">Сохранить</button>
            </fieldset>
        </form>
        <button class="button" type="cancel" onclick="javascript:PopUpHideAddOrder()">Отмена</button>
    </div>
</div>

                    <!--создание зала-->

<div th:fragment="addHall" class="b-popup" id="popupaddhall">
    <div class="b-popup-content">
        <h2>Добавить новый зал</h2>
        <form id="addHall" th:action="@{/admin/addHall}" method="POST">
            <fieldset>
                <a>Информация о зале:</a><br/>
                <input type="text" th:field="${hall.name}" placeholder="название" required /> <br/>
                <input type="text" th:field="${hall.address}" placeholder="адрес" required /> <br />
                <input type="number" th:field="${hall.price}" placeholder="цена" required /> <br />
                <input type="number" name="trampsAmount" placeholder="количество батутов" required /> <br />
                <a>телефон:</a><br/>
                <input type="text"
                       th:field="${hall.phone}"
                       placeholder="8800-555-35-35" required />
                <br />

                <button class="button" type="submit" value="Submit">Сохранить</button><br/>
            </fieldset>
        </form>
        <button class="button" onclick="javascript:PopUpHideAddHall()">cancel</button>
    </div>
</div>

                    <!--создание скидки-->

<div th:fragment="addDiscount" class="b-popup" id="popupadddisc">
    <div class="b-popup-content">
        <h2>Добавить акцию</h2>
        <form th:action="@{/admin/addDiscount}" method="POST">
            <fieldset>
                <a>Скидка:</a><br/>
                <input type="text" th:field="${discount.name}" placeholder="название" required /> <br/>
                <input type="text" th:field="${discount.description}" placeholder="описание" required /> <br/>
                <input type="number" th:field="${discount.discountFactor}" placeholder="процент скидки" required /> <br />

                <button class="button" type="submit" value="Submit">Сохранить</button>
            </fieldset>
        </form>
        <button class="button" onclick="javascript:PopUpHideAddDisc()">Отмена</button>
    </div>
</div>

                    <!--создание пользователя-->

<div th:fragment="addUser" class="b-popup" id="popupadduser">
    <div class="b-popup-content">
        <h2>Добавить пользователя</h2>
        <form th:action="@{/admin/addUser}" method="POST">
            <fieldset>
                <a>Пользователь:</a><br/>
                <input type="text" th:field="${user.login}" placeholder="логин" required /> <br/>
                <input type="password" th:field="${user.password}" placeholder="пароль" required /> <br/>
                <select th:field="${user.roles}">
                    <option th:each="role : ${roles}" th:value="${role}"  th:text="${role.getName()}">
                </select><br/>

                <button class="button" type="submit" value="Submit">Сохранить</button>
            </fieldset>
        </form>
        <button class="button" onclick="javascript:PopUpHideAddUser()">Отмена</button>
    </div>
</div>

</html>