<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>
	
	<body>

	<div th:replace="common::loading"/>

	<div th:replace="common::menu"></div>

	<section id="content-part">
		<section id="home-part" class="scale-max">
			<div class="overlay">

				<div class="content-place">
					<h2>Our contacts</h2>
					<p></p>
					<p>Vasilii Ivanovich</p>
					<p>Phone: +7 88888888</p>
					<p>Email: IvanovichTheBest@jh3.com</p>
					<p>Office address: Ivanovich street 13-13</p>
				</div>
			</div>
		</section>
	</section>

	</body>

</html>