<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>
	
	<body>

		<div th:replace="common::loading"/>

		<div th:replace="common::menu"></div>

		<section id="content-part">
			<section id="home-part" class="scale-max">
				<div class="overlay">

					<div class="content-place">
						<h2>Информация об акциях</h2>
						<table style="width:80%">
							<tr>
								<th><a>Название</a></th>
								<th><a>описание</a></th>
								<th><a> % </a></th>
							</tr>
							<tr th:each="disc : ${discounts}">
								<td ><p><a th:text="${disc.name}" href="/"></a></p></td>
								<td ><a th:text="${disc.description}" href="/"></a></td>
								<td ><a th:text="${disc.discountFactor}" href="/"></a></td>
							</tr>
						</table>
					</div>
				</div>
			</section>
		</section>

	</body>

</html>