<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>

	<body>
	<div class="center-error-img">
		<h1 align="center" th:text="${status}"></h1>

		<p align="center"><img align="center" th:src="@{/img/oh.jpg}"/></p>
		<br/>
		<p align="center" th:text="${reason}"></p>
		<p align="center" th:text="${mes}"></p>
	</div>

	<br/>

	</body>
</html>