<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>
	
	<body>

		<div th:replace="common::loading"/>

		<button class="open-menu-mobile">
			<i class="icon ion-navicon-round opening-menu"></i>
			<i class="icon ion-close-round closing-menu display-none"></i>
		</button>

		<div th:replace="common::menu"></div>

		<section id="home-part" class="scale-max">
			<div class="overlay"></div>
			<div class="item-title text-center animated-quick">
				<!-- Your logo -->
				<img src="img/logo.png" alt="" class="brand-logo"/>
				<h1 class="cd-headline letters rotate-2">
					Jamp_Hall 3
					<div class="cd-words-wrapper">
						<b class="is-visible">просто</b> <!-- use the code &nbsp; to add a space between 2 words -->
						<b>незабываемо</b>
						<b>и &nbsp; полезно</b>
					</div>
				</h1>
				<p> Спортивные батуты в городе Тольятти </p>

				<!--<a class="btn open-newsletter btn-color">Newsletter</a>-->

				<!--<a class="btn open-content btn-light about-content">More info</a>-->
				
			</div> <!-- CLOSE item-title -->
		</section> <!-- CLOSE #home-part -->


		 <!--Language selection-->
		<!--<p class="lang">-->
			<!--<a href="" class="active">EN</a><span> | </span>-->
			<!--<a href="">DE</a>-->
		<!--</p>-->
		<!--<div class="lang">-->
			<!--<form th:action="@{/logout}" method="post">-->
				<!--<input type="submit" value="Sign Out"/>-->
			<!--</form>-->
		<!--</div>-->

	</body>

</html>