<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::template"></head>

<body>

<div th:replace="common::loading"/>

<div th:replace="common::menu"></div>

<section id="home-part" class="scale-max">
    <div class="overlay">
    <div class="item-title">
        <!-- Your logo -->
        <img src="img/logo.png" alt="" class="brand-logo"/>
            <div>
                <form class="login-center" th:action="@{/login}" method="post">
                    <a>логин :</a> <input type="text" name="username"/><br/>
                    <a>пароль :</a> <input type="password" name="password"/><br/><br/>
                    <button class="button" type="submit" value="Sign In">войти</button>
                </form>
            </div>

        </div>
    </div> <!-- CLOSE item-title -->
</section> <!-- CLOSE #home-part -->


</body>

</html>