<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>
	
	<body>
		<div th:replace="common::loading"/>

		<button class="open-menu-mobile">
			<i class="icon ion-navicon-round opening-menu"></i>
			<i class="icon ion-close-round closing-menu display-none"></i>
		</button>

		<div th:replace="common::menu"></div>

		<section id="content-part">
		<section id="home-part" class="scale-max">
			<div class="overlay">
			<div class="content-place">

				<h2>Управление записями</h2>
				<button class="button" onclick="javascript:PopUpShowAddOrder()">Добавить запись</button>
				<div th:replace="common-popup::addOrder"></div>
				<a th:if="${hasError}">Запись не сохранена</a><br/>
                <table class="records-table" style="width:80%">
                    <tr>
                        <th><a>Дата записи</a></th>
                        <th><a>Имя</a></th>
                        <th><a>Фамилия</a></th>
                        <th><a>Время</a></th>
                        <th><a>Стоимость</a></th>
						<th><a>Комментарий</a></th>
                    </tr>

					<tr th:each="order : ${orders}">
						<td ><p><a th:text="${order.shortEventDate()}"></a></p></td>
						<td ><p><a th:text="${order.contact.firstName}"></a></p></td>
						<td ><a th:text="${order.contact.lastName}"></a></td>
						<td ><a th:text="${order.minuteAmount}"></a></td>
						<td ><a th:text="${order.price}"></a></td>
						<td ><a th:text="${order.comment}"></a></td>
						<!--<td ><button class="button" th:if="${accessLevel > 0}" )>-->
						<td><a class="button" th:href="@{/recordsManagement/edit/} + ${order.getId()}" th:text="редактировать"/><a class="button" th:href="@{/recordsManagement/delete/} + ${order.getPublicId()}" th:text="удалить"/>
						</td>
					</tr>
                </table>
			</div>
			</div>
		</section>
		</section>

	</body>

</html>