<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-us" class="no-js"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common::template"></head>
	
	<body>
		<div th:replace="common::loading"/>

		<button class="open-menu-mobile">
			<i class="icon ion-navicon-round opening-menu"></i>
			<i class="icon ion-close-round closing-menu display-none"></i>
		</button>

		<div th:replace="common::menu"></div>

		<section id="content-part">
		<section id="home-part" class="scale-max">
			<div class="overlay">

			<div class="content-place">
				<h2>Информация о залах</h2>
				<a th:text="${hasAccess}"></a>
                <table style="width:80%">
                    <tr>
                        <th><a>Название зала</a></th>
                        <th><a>Адрес</a></th>
                        <th><a>Цена аренды</a></th>
                        <th><a>свободных мест на сегодня</a></th>
                    </tr>
					<tr th:each="hall : ${halls}">
						<td ><p><a th:text="${hall.name}" href="/"></a></p></td>
						<td ><a th:text="${hall.address}" href="/"></a></td>
						<td ><a th:text="${hall.price}" href="/"></a></td>
						<td ><a th:text="${hall.freeTrampsAmount()}" href="/"></a></td>
					</tr>
                </table>
			</div> <!-- CLOSE content-place -->
			</div>
		</section> <!-- CLOSE #home-part -->
		</section> <!-- CLOSE #content-part -->

		<!-- Language selection -->
		<!--<p class="lang">-->
			<!--<a href="" class="active">EN</a><span> | </span>-->
			<!--<a href="">DE</a>-->
		<!--</p>-->

	</body>

</html>